<% if (typeof flash !== 'undefined' && flash && flash.length) { %>
  <div class="flash-stack">
    <% flash.forEach(function(f){ %>
      <div class="flash flash-<%= f.type %>"><%= f.message %></div>
    <% }) %>
  </div>
<% } %>
